{
    "extends": "eslint:recommended",
    "rules": {
        "comma-dangle": "error",
        "require-yield": "error",
        "no-unused-vars": "off",
        "no-undef": "off",
    },
    "parserOptions": {
        sourceType: "module",
        ecmaVersion: 2015,
    },
}